{{ ansible_managed | comment }}
# Kibana 9 removed the xpack.<feature>.enabled switches that earlier revisions
# of this file set (xpack.infra, xpack.canvas, xpack.spaces, xpack.apm,
# xpack.uptime, xpack.ml, xpack.securitySolution, xpack.logstash and
# xpack.security). Kibana refuses to start on an unrecognised setting, so they
# are gone rather than commented out.
{% set config = {
  'server.name': kibana_server_name,
  'server.port': kibana_server_port,
  'server.host': kibana_server_host,
  'elasticsearch.hosts': kibana_elasticsearch_hosts,
  'elasticsearch.username': kibana_elasticsearch_username,
  'elasticsearch.password': kibana_elasticsearch_password,
  'elasticsearch.ssl.verificationMode': kibana_elasticsearch_ssl_verification_mode,
  'elasticsearch.requestTimeout': kibana_elasticsearch_request_timeout,
  'elasticsearch.shardTimeout': kibana_elasticsearch_shard_timeout,
  'xpack.encryptedSavedObjects.encryptionKey': kibana_encrypted_saved_objects_key,
  'xpack.reporting.encryptionKey': kibana_reporting_key,
  'xpack.security.encryptionKey': kibana_security_key,
  'telemetry.optIn': kibana_telemetry_enabled | bool,
  'telemetry.enabled': kibana_telemetry_enabled | bool,
  'newsfeed.enabled': kibana_newsfeed_enabled | bool,
  'unifiedSearch.autocomplete.valueSuggestions.timeout': kibana_autocomplete_timeout,
  'unifiedSearch.autocomplete.valueSuggestions.terminateAfter': kibana_autocomplete_terminate_after,
} %}
{% if kibana_elasticsearch_ca_file | length > 0 %}
{% set config = config | combine({'elasticsearch.ssl.certificateAuthorities': [kibana_certs_dir ~ '/elasticsearch-ca.crt']}) %}
{% endif %}
{% if kibana_server_public_base_url | length > 0 %}
{% set config = config | combine({'server.publicBaseUrl': kibana_server_public_base_url}) %}
{% endif %}
{% if kibana_server_base_path | length > 0 %}
{% set config = config | combine({'server.basePath': kibana_server_base_path, 'server.rewriteBasePath': kibana_server_rewrite_base_path | bool}) %}
{% endif %}
{{ config | combine(kibana_extra_config) | to_nice_yaml(indent=2, width=1000) }}
